.block {
    width: 100px;
    height: 100px;
    background-color: grey;

}

#white {
    brackground-color: white;
    position: relative;
    top: 10Px;
    left: 10px;
}

#moveme {
    background-color: lightgreen;
    position: absloute;
    border: 1px dashed;
}

#icon {
    width: 10px;
    position: absolute;
    top: 3px;
    left: 3px;
}


#wrapper {
    position: relative;
}

#wrapper input {
        position: absolute;
}

#window {
    width: 300px;
    height: 300px;
    border: 2px solid;
    overflow: hidden
}

#imgSlider img {
    width: 300px;
    height: 300px;
    transform: translateX(0px);
    animation: move 5s infinite;
}

#imgSlider {
    display: flex;
}
@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-1500px)
    }
}
